<% if spree_navigation_data.any? %>
  <% spree_navigation_data.each do |root| %>
    <div class="cursor-pointer menuItem group py-7">
      <% has_dropdown = root[:items].present? || root[:promo_banners].present? %>
      <% dropdown_toggle_class = has_dropdown ? "dropdown-toggle" : "" %>
      <% data_attr = has_dropdown ? { toggle: "dropdown" } : {} %>
      <% aria_attr = has_dropdown ? { haspopup: true, expanded: false } : {} %>

      <%= link_to root[:title], root[:url], class: "inline-flex items-center text-sm xl:text-base text-heading px-3 xl:px-4 py-2 font-normal relative group-hover:text-black",  data: data_attr, aria: aria_attr %>

      <% if has_dropdown %>
        <div class="absolute bg-gray-200 opacity-0 subMenu shadow-header start-0 group-hover:opacity-100">
          <div class="container p-0 mx-auto d-flex justify-content-xl-around">
            <div class="row">
              <% if root[:items].present? %>
                <div class="category-links">
                  <% if root[:subtitle].present? %>
                    <div class="text-gray-600 uppercase">
                      <%= root[:subtitle] %>
                    </div>
                  <% end %>
                  <ul class="py-5 text-sm text-body">
                    <% root[:items].each do |item| %>
                      <li class="">
                        <%= link_to item[:title], item[:url], class: "flex items-center justify-between py-2 ps-5 xl:ps-7 pe-3 xl:pe-3.5 hover:text-heading hover:bg-gray-300" %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <% if root[:promo_banners].present? %>
                <% root[:promo_banners].each do |promo_banner| %>
                  <%= link_to promo_banner[:url], class: "dropdown-item" do %>
                    <div class="mx-3 text-center category-image">
                      <%= main_nav_image(promo_banner[:image], promo_banner[:title]) %>
                      <div class="category-box">
                        <div class="category-box-small-text">
                          <%= promo_banner[:subtitle] %>
                        </div>
                        <div class="category-box-big-text">
                          <%= promo_banner[:title] %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
