<ul id="nav-bar" class="nav align-items-center d-flex flex-nowrap justify-content-end navbar-right">

  <li>
    <div class="navbar-right-search-menu">
      <button type="button" class="navbar-right-dropdown-toggle search-icons" aria-label="<%= Spree.t('nav_bar.show_search') %>">
        <%= icon(name: 'magnifying-glass',
                 classes: 'd-inline-block',
                 width: 36,
                 height: 36) %>
      </button>

      <div id="search-dropdown" class="p-0 shadow px-md-4 py-md-2 w-100 navbar-right-search-menu-dropdown hide-on-esc">
        <%= render partial: 'spree/shared/search' %>
      </div>
    </div>
  </li>

  <% if defined?(spree.account_link_path) %>
    <li>
      <div class="dropdown navbar-right-dropdown">
        <button id="account-button" type="button" data-toggle="dropdown" class="navbar-right-dropdown-toggle account-icon" aria-label="<%= Spree.t('nav_bar.show_user_menu') %>">
          <%= icon(name: 'person',
                  classes: 'd-inline-block',
                  width: 41.4,
                  height: 36) %>
        </button>

        <div id="link-to-account" class="text-right dropdown-menu dropdown-menu-right">
        </div>
      </div>
    </li>
  <% end %>

  <li id="link-to-cart">
    <%= render 'spree/shared/cart', class: 'd-inline-block cart-icon', size: 36, item_count: 0 %>
  </li>
  <%= render partial: 'spree/shared/internationalization_options' %>
</ul>


<button aria-label="search-button" class="relative flex items-center justify-center flex-shrink-0 h-auto focus:outline-none transform">
  <%= heroicon 'search', variant: :outline, options: { class: 'h-8 w-8' } %>
</button>

<div class="-mt-0.5 flex-shrink-0">
  <button class="text-sm font-semibold xl:text-base text-heading focus:outline-none">Sign in</button>
</div>

<button class="relative flex items-center justify-center flex-shrink-0 h-auto focus:outline-none transform">
  <%= heroicon 'shopping-bag', variant: :outline, options: { class: 'h-8 w-8' } %>
  <span class="cart-counter-badge flex items-center justify-center bg-heading text-white absolute -top-2.5 xl:-top-3 -end-2.5 xl:-end-3 rounded-full font-bold">2</span>
</button>
